<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add customers</title>
</head>
<body>
    <div style="margin: 32px">
        <h1>Add fake customers</h1>
        <form action="/add-customers/" method="POST">
            <p>
                <label>Customers count</label><input type="number" name="count" value="{{ count }}" required>
                <input type="submit" value="Add customers">
            </p>
        </form>
        <table style="border: 2px solid black; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black;">First name</th>
                <th style="border: 1px solid black;">Last name</th>
                <th style="border: 1px solid black;">Email</th>
            </tr>
            {% for customer in all_customers %}
            <tr>
                <td style="border: 1px solid black;">{{ customer.first_name }}</td>
                <td style="border: 1px solid black;">{{ customer.last_name }}</td>
                <td style="border: 1px solid black;">{{ customer.email }}</td>
            </tr>
            {% endfor %}
        </table>
        <p><a href="/">Back to home</a></p>
    </div>

</body>
</html>